{% extends 'base.html.twig' %}

{% block title %}Lista postów{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Posty</h1>
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item">{{ post.title }}</li>
        {% else %}
            <li class="list-group-item">Brak postów</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
