{% extends 'base.html.twig' %}

{% block title %}Nowy post{% endblock %}

{% block body %}
<h1>Dodaj nowy post</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Zapisz</button>
{{ form_end(form) }}

<a href="{{ path('posts_list') }}">Powrót do listy postów</a>
{% endblock %}
